[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyyaml = "*"
python-dotenv = "*"
pandas = "*"
iso8601 = "*"
simplejson = "*"

[requires]
python_version = "3.6"
